.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.weather-data {
  display: flex;
  padding: 10px;
  background-color: #e0f7fa;
  z-index: 100;
  margin-top: 50%;
}
strong {
  font-size: 2em;
}
#root {
  width: 100svw;
  height: 100svh;
}
.overskrift {
  color: darkblue;
}
.tid-header {
  padding: 10px;
}
