* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.footer {
  background-color: #f1f1f1;
  text-align: center;
  padding: 10px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.weather-data {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  background-color: #e0f7fa;
  z-index: 100;
  width: 100%;
  height: auto;
  border: 2px solid #00796b;
}
#root {
  width: 100svw;
  height: 100svh;
}
.overskrift {
  margin-left: 10px;
  margin-bottom: 10px;
  color: darkblue;
}
.tid-header {
  margin-top: 10px;
  background-color: #e0f7fa;
  border: 2px solid #110c01;
  padding: 10px;
  border-radius: 5px;
}
.bike-data {
  margin-top: 10px;
  background-color: #e0f7fa;
  border: 2px solid #110c01;
  padding: 10px;
  border-radius: 5px;
}
.bike-formdata {
  margin-top: 10px;
  background-color: #e0f7fa;
  border: 2px solid #110c01;
  padding: 10px;
  border-radius: 5px;
}
button {
  margin-top: 5px;
  border: 2px solid #110c01;
  padding: 10px;
  border-radius: 5px;
}
